{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    天天生鲜-商品详情
{% endblock title %}

{% block body %}
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">
                    {% for category in categorys %}
                        {#                        <li><a href="#model0{{ forloop.counter }}" class="{{ category.logo }}">{{ category.name }}</a></li>#}
                        <li><a href="{% url 'goods:list' category.id 1 %}"
                               class="{{ category.logo }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="{% url 'goods:index' %}">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="/">全部分类</a>
        <span>></span>
        <a href="{% url 'goods:list' sku.category.id 1 %}?sort=default">{{ sku.category.name }}</a>
        {#		<a href="#">{{ sku.category.name }}</a>#}
        <span>></span>
        <a href="{% url 'goods:detail' sku.id %}">商品详情</a>
    </div>

    <div class="goods_detail_con clearfix">
        <div class="goods_detail_pic fl"><img src="{{ sku.default_image.url }}"></div>

        <div class="goods_detail_list fr">
            <h3>{{ sku.name }}</h3>
            <p>{{ sku.title }}</p>
            <div class="prize_bar">
                <span class="show_pirze">¥<em>{{ sku.price }}</em></span>
                <span class="show_unit">单  位：{{ sku.unit }}</span>
            </div>
            {% if other_skus %}
                <div>
                    <p>其他规格:</p>
                    <ul>
                        {% for other_sku in other_skus %}
                            <li>
                                <a href="{% url 'goods:detail' other_sku.id %}">{{ other_sku.price }}/{{ other_sku.unit }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="goods_num clearfix">
                <div class="num_name fl">数 量：</div>
                <div class="num_add fl">
                    <input type="text" class="num_show fl" value="1" id="num_show">
                    <a href="javascript:;" class="add fr">+</a>
                    <a href="javascript:;" class="minus fr">-</a>
                </div>
            </div>
            <div class="total">总价：<em>{{ sku.price }}元</em></div>
            <div class="operate_btn">
                <a href="javascript:;" class="buy_btn" id="buy_btn">立即购买</a>
                <a href="javascript:;" class="add_cart" id="add_cart" sku_id="{{ sku.id }}">加入购物车</a>
            </div>
        </div>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    {% for new_sku in new_skus %}
                        <li>
                            <a href="{% url 'goods:detail' new_sku.id %}"><img
                                    src="{{ new_sku.default_image.url }}"></a>
                            <h4><a href="{% url 'goods:detail' new_sku.id %}">{{ new_sku.name }}</a></h4>
                            <div class="prize">￥{{ new_sku.price }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li id="tag_detail" class="active">商品介绍</li>
                <li id="tag_comment">评论</li>
            </ul>

            <div class="tab_content" id="tab_detail">
                <dl>
                    <dt>商品详情：</dt>
                    {#                    desc|safe 关闭转义,告诉模板这个变量是安全的,可以执行#}
                    <dd>{{ sku.goods.desc|safe }}</dd>
                </dl>
            </div>

        </div>
    </div>
{% endblock body %}

{% block footer %}
    <div class="add_jump"></div>
{% endblock footer %}

{% block endscript %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
        $("#tag_detail").click(function () {
            $("#tag_comment").removeClass("active");
            $(this).addClass("active");
            $("#tab_comment").hide();
            $("#tab_detail").show();
        });

        $("#tag_comment").click(function () {
            $("#tag_detail").removeClass("active");
            $(this).addClass("active");
            $("#tab_detail").hide();
            $("#tab_comment").show();
        });

        $("#buy_btn").click(function () {
            var count = $("#num_show").val();
            window.location.href = '/order/commit?g={{goods.id}}@' + count;
        });

        // 点击加入购物车
        $('#add_cart').click(function () {
            // 将商品的id 和 数量发送给后端视图，保存到购物车数据中
            var req_data = {
{#                name: "detail",#}
                sku_id: $('#add_cart').attr("sku_id"),
                count: $("#num_show").val(),
                csrfmiddlewaretoken: "{{ csrf_token }}"
            };

            // 使用ajax向后端发送数据
            $.post('/cart/add', req_data, function (response_data) {
                if (0 == response_data.code) {
                    var $add_x = $('#add_cart').offset().top;
                    var $add_y = $('#add_cart').offset().left;
                    var $to_x = $('#show_count').offset().top;
                    var $to_y = $('#show_count').offset().left;
                    $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'});
                    // 添加购物车成功的
                    $(".add_jump").stop().animate({
                            'left': $to_y + 7,
                            'top': $to_x + 7
                        },
                        "fast", function () {
                            $(".add_jump").fadeOut('fast', function () {
                                $('#show_count').html(response_data.cart_num);
                            });
                        });
                } else {
                    // 添加购物车失败
                    alert(response_data.message);
                }
            });
        });
        $(".add").click(function () {
            var num_show = $('#num_show').val();
            num_show = parseInt(num_show);
            num_show += 1;
            {#			alert(num_show);#}
            $("#num_show").val(num_show);
            var price = $(".show_pirze>em").html();
            price = parseFloat(price);
            var total = price * num_show;
            $(".total>em").html(total.toFixed(2));
        });
        $(".minus").click(function () {
            var num_show = $("#num_show").val();
            num_show = parseInt(num_show);
            num_show -= 1;
            if (num_show < 1) {
                num_show = 1;
            }
            $("#num_show").val(num_show);
            var price = $(".show_pirze>em").html();
            price = parseFloat(price);
            var total = price * num_show;
            $(".total>em").html(total.toFixed(2));
        });
    </script>

{% endblock endscript %}